/*fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*global css*/
:root {
    --yellow: #ffb020;
    --white: #ffffff;
    --yellow-white: #ffd24d;
    --greey: #f3f3f3;
    --blue: #051226;
    --gray: #b9b9b9;
    --gree: #c6c6c6;
    --greey-medium: #ffffff73;
    --greey-black: #595959;
    --gradient: linear-gradient(90deg, var(--yellow-white), var(--yellow));
    --rgba: rgba(94, 104, 121, 0.288);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: var(--white);
}

/*seleccion de texto*/
::selection {
    background: var(--yellow);
    color: var(--white);
}

body {
    height: 100%;
}

/*sección principal*/
main {
    display: flex;
    flex-direction: row;
}

.imagen {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradient);
}

.imagen-logo {
    display: flex;
    align-items: center;
    background: transparent;
}

.logo {
    width: 100%;
    background: transparent;
    position: absolute;
    right: 60px;
}

.formulario {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contenedor {
    background: var(--white);
    border: 0.1px solid var(--greey);
    position: absolute;
    right: 18%;
    border-radius: 10px;
    box-shadow: -1px -1px 1px var(--greey), 2px 2px 5px var(--rgba);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 30px;
    width: 380px;
    z-index: 900;
}

/*.formulario*/
.form-title {
    color: var(--blue);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 28px;
    text-align: center;
}

.fal {
    color: var(--gray);
    position: absolute;
    line-height: 65px;
    width: 60px;
    text-align: center;
    background: transparent;
}

#email,
#password {
    border: 1px solid var(--gree);
    border-radius: 8px;
    font-size: 15px;
    height: 32px;
    outline: none;
    padding-left: 55px;
    width: 100%;
    margin-top: 15px;
}

.btn-enviar {
    background: var(--gradient);
    border: none;
    border-radius: 8px;
    box-shadow: -3px -3px 7px var(--greey), 2px 2px 5px var(--rgba);
    color: var(--blue);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    height: 32px;
    margin: 15px 0;
    outline: none;
    width: 100%;
}

.btn-enviar:active {
    box-shadow: inset 2px 2px 5px var(--yellow), inset -5px -5px 10px var(--greey-medium);
    color: var(--gray);
}

.texto-uno {
    margin: 3px 0 10px 5px;
    text-align: center;
}

.texto-uno a {
    color: var(--yellow-white);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.texto-uno a:hover,
.texto-dos a:hover {
    text-decoration: underline;
}

.texto-aviso {
    color: var(--greey-black);
    margin-top: 20px;
    font-size: 10px;
    text-align: center;
    visibility: hidden;
}

.texto-dos {
    color: var(--greey-black);
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

.texto-dos a {
    color: var(--yellow-white);
    font-weight: 600;
    text-decoration: none;
    font-size: 12px;
}

footer {
    margin-top: 15px;
    padding: 10px;
    color: var(--yellow);
    text-align: center;
    height: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--blue);
}

.usuario {
    color: #9e3535;
}


/*responsive*/
@media(max-width: 1200px) {
    .imagen {
        width: 100%;
        height: 70vh;
    }

    .logo {
        height: 80%;
        width: 80%;
        position: absolute;
        top: -10%;
        right: 10;
    }

    .formulario {
        display: flex;
        align-items: flex-end;
    }

    .contenedor {
        width: 90%;
        position: absolute;
        left: 5%;
    }

    form {
        width: 100%;
    }
}

@media(max-width: 910px) {
    .imagen {
        height: 70vh;
    }

    .logo {
        height: 60%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }

    .contenedor {
        width: 90%;
        position: absolute;
        left: 5%;
        top: 50%;
    }
}

@media(max-width: 450px) {
    .imagen {
        height: 70vh;
    }

    .logo {
        height: 60%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }

    .contenedor {
        width: 90%;
        position: absolute;
        left: 5%;
        top: 45%;
    }
}